.landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0) 60%),
    url('../images/man-and-woman-collaborating-in-tech-industry.jpg.webp') no-repeat center center;
  background-size: cover;
  padding: 3rem;
  min-height: 75vh;
  flex-wrap: wrap;
  position: relative;
}

  
  .left-section {
    flex: 1;
    max-width: 500px;
    color: white;
    
    
  }
  
  .stars {
    color: white;
  }
  
  .fas {
    font-size: 1.5rem;
  }
  
  

  .right-section {
    flex: 1;
    max-width: 250px;
    background: white;
    padding: 1.8rem;
    border-radius: 8px;
    max-height: 250px;
    max-width: 300px;
  }
  
  .options{
    display: flex;
    flex-direction: column;
  }
  .option1{
    height: 30px;
  }

  .left-section h1 {
    font-size: 2.5rem;
  }
  .features-list{
    list-style: none; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 0px;
    padding: 0px;
  }
  .features-list1{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }
  .features-list1 img {
    width: 20px;
    height: 20px;
    
  }
  
  
  .brands {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    margin-top: 30px;
  }
  .brands img{
    width: 90px;
  }
  
  .info-box h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .form1 label {
    
    margin: 1rem 0;
  }
  
form button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.7rem;
  background: #e60000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
  

  
  @media (max-width: 768px) {
    .landing {
      padding: 2rem 1rem;
      background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 80%),
        url('../images/man-and-woman-collaborating-in-tech-industry.jpg.webp') no-repeat center center;
      background-size: cover;
      flex-direction: column;
    }
  
    .left-section {
      max-width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
  
    /* .features-list {
      align-items: center;
    } */
  
    .brands {
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .right-section {
      width: 90%;
      
    }
  }
  
  @media (max-width: 480px) {
    .left-section h1 {
      font-size: 2rem;
    }
  
    .fas {
      font-size: 1.2rem;
    }
  
    .info-box h2 {
      font-size: 1rem;
    }
  
    form button {
      font-size: 0.9rem;
    }
  
    .brands img {
      width: 70px;
    }
  }
  